/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables */

:root {
  /* Primary Colors */
  --primary-color: #3498db;
  --primary-color-hover: #2980b9;
  --primary-color-active: #1e70a1;
  --primary-color-light: #5dade2;
  --primary-color-dark: #1f618d;

  /* Secondary Colors */
  --secondary-color: #e67e22;
  --secondary-color-hover: #ca6f1e;
  --secondary-color-active: #af5e1a;
  --secondary-color-light: #f39c74;
  --secondary-color-dark: #a04000;

  /* Success Colors */
  --success-color: #28a745;
  --success-color-hover: #218838;
  --success-color-active: #1e7e34;
  --success-color-light: #52c878;
  --success-color-dark: #186c3a;

  /* Warning Colors */
  --warning-color: #ffc107;
  --warning-color-hover: #e0a800;
  --warning-color-active: #c69500;
  --warning-color-light: #ffcd39;
  --warning-color-dark: #d39e00;

  /* Danger Colors */
  --danger-color: #dc3545;
  --danger-color-hover: #c82333;
  --danger-color-active: #bd2130;
  --danger-color-light: #e57373;
  --danger-color-dark: #a71d2a;

  /* Info Colors */
  --info-color: #17a2b8;
  --info-color-hover: #138496;
  --info-color-active: #117a8b;
  --info-color-light: #63c7d4;
  --info-color-dark: #0e6375;

  /* Neutral / Grayscale Colors */
  --black: #000000;
  --white: #ffffff;
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;

  /* Background Colors */
  --background-color: #f4f6f8;
  --background-color-light: #ffffff;
  --background-color-dark: #e0e0e0;

  /* Border Colors */
  --border-color: #dee2e6;
  --border-color-dark: #ced4da;

  /* Text Colors */
  --text-color-primary: #212529;
  --text-color-secondary: #6c757d;
  --text-color-light: #ffffff;
  --text-color-muted: #adb5bd;

  /* State Colors */
  --state-disabled-bg: #e9ecef;
  --state-disabled-text: #6c757d;

  /* Shadows */
  --box-shadow-default: 0 1px 3px rgba(0, 0, 0, 0.12);
  --box-shadow-hover: 0 4px 6px rgba(0, 0, 0, 0.15);
}

.sp-btn {
  @apply text-[var(--gray-900)] border  focus:outline-none  focus:ring-4 focus:ring-[var(--gray-100)] font-medium rounded-lg text-sm px-5 py-2.5 disabled:cursor-not-allowed disabled:opacity-50 cursor-pointer dark:text-[var(--white)];
}

.sp-btn-link {
  @apply text-[var(--primary-color)] hover:text-[var(--primary-color-hover)] focus:outline-none   font-medium rounded-lg text-sm px-5 py-2.5 disabled:cursor-not-allowed disabled:opacity-50 cursor-pointer dark:text-[var(--primary-color-dark)] dark:hover:text-[var(--primary-color-hover)];
}

.sp-btn-primary {
  @apply text-[var(--white)] bg-[var(--primary-color)] hover:bg-[var(--primary-color-hover)] focus:ring-4 focus:ring-[var(--primary-color-active)] font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-[var(--primary-color-dark)] dark:hover:bg-[var(--primary-color)] focus:outline-none dark:focus:ring-[var(--primary-color-hover)] disabled:cursor-not-allowed disabled:opacity-50 cursor-pointer;
}

.sp-btn-secondary {
  @apply text-[var(--white)] bg-[var(--secondary-color)] hover:bg-[var(--secondary-color-hover)] focus:ring-4 focus:ring-[var(--secondary-color-active)] font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-[var(--secondary-color-dark)] dark:hover:bg-[var(--secondary-color)] focus:outline-none dark:focus:ring-[var(--secondary-color-hover)] disabled:cursor-not-allowed disabled:opacity-50 cursor-pointer;
}

.sp-btn-success {
  @apply text-[var(--white)] bg-[var(--success-color)] hover:bg-[var(--success-color-hover)] focus:ring-4 focus:ring-[var(--success-color-active)] font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-[var(--success-color-dark)] dark:hover:bg-[var(--success-color)] focus:outline-none dark:focus:ring-[var(--success-color-hover)] disabled:cursor-not-allowed disabled:opacity-50 cursor-pointer;
}

.sp-btn-danger {
  @apply text-[var(--white)] bg-[var(--danger-color)] hover:bg-[var(--danger-color-hover)] focus:ring-4 focus:ring-[var(--danger-color-active)] font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-[var(--danger-color-dark)] dark:hover:bg-[var(--danger-color)] focus:outline-none dark:focus:ring-[var(--danger-color-hover)] disabled:cursor-not-allowed disabled:opacity-50 cursor-pointer;
}

.sp-btn-warning {
  @apply text-[var(--white)] bg-[var(--warning-color)] hover:bg-[var(--warning-color-hover)] focus:ring-4 focus:ring-[var(--warning-color-active)] font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-[var(--warning-color-dark)] dark:hover:bg-[var(--warning-color)] focus:outline-none dark:focus:ring-[var(--warning-color-hover)] disabled:cursor-not-allowed disabled:opacity-50 cursor-pointer;
}

.sp-btn-info {
  @apply text-[var(--white)] bg-[var(--info-color)] hover:bg-[var(--info-color-hover)] focus:ring-4 focus:ring-[var(--info-color-active)] font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-[var(--info-color-dark)] dark:hover:bg-[var(--info-color)] focus:outline-none dark:focus:ring-[var(--info-color-hover)] disabled:cursor-not-allowed disabled:opacity-50 cursor-pointer;
}

.sp-btn-small {
  @apply text-[var(--gray-900)] border  focus:outline-none  focus:ring-4 focus:ring-[var(--gray-100)] font-medium rounded-lg text-xs px-2.5 py-1.5 disabled:cursor-not-allowed disabled:opacity-50 cursor-pointer dark:text-[var(--white)];
}

.sp-btn-big {
  @apply text-[var(--gray-900)] border  focus:outline-none  focus:ring-4 focus:ring-[var(--gray-100)] font-medium rounded-lg text-lg px-5 py-3 disabled:cursor-not-allowed disabled:opacity-50 cursor-pointer dark:text-[var(--white)];
}

.sp-btn-link-small {
  @apply text-[var(--primary-color)] hover:text-[var(--primary-color-hover)] focus:outline-none   font-medium rounded-lg text-xs px-2.5 py-1.5 disabled:cursor-not-allowed disabled:opacity-50 cursor-pointer dark:text-[var(--primary-color-dark)] dark:hover:text-[var(--primary-color-hover)];
}

.sp-btn-primary-small {
  @apply text-[var(--white)] bg-[var(--primary-color)] hover:bg-[var(--primary-color-hover)] focus:ring-4 focus:ring-[var(--primary-color-active)] font-medium rounded-lg text-xs px-2.5 py-1.5 dark:bg-[var(--primary-color-dark)] dark:hover:bg-[var(--primary-color)] focus:outline-none dark:focus:ring-[var(--primary-color-hover)] disabled:cursor-not-allowed disabled:opacity-50 cursor-pointer;
}

.sp-btn-secondary-small {
  @apply text-[var(--white)] bg-[var(--secondary-color)] hover:bg-[var(--secondary-color-hover)] focus:ring-4 focus:ring-[var(--secondary-color-active)] font-medium rounded-lg text-xs px-2.5 py-1.5 dark:bg-[var(--secondary-color-dark)] dark:hover:bg-[var(--secondary-color)] focus:outline-none dark:focus:ring-[var(--secondary-color-hover)] disabled:cursor-not-allowed disabled:opacity-50 cursor-pointer;
}

.sp-btn-success-small {
  @apply text-[var(--white)] bg-[var(--success-color)] hover:bg-[var(--success-color-hover)] focus:ring-4 focus:ring-[var(--success-color-active)] font-medium rounded-lg text-xs px-2.5 py-1.5 dark:bg-[var(--success-color-dark)] dark:hover:bg-[var(--success-color)] focus:outline-none dark:focus:ring-[var(--success-color-hover)] disabled:cursor-not-allowed disabled:opacity-50 cursor-pointer;
}

.sp-btn-danger-small {
  @apply text-[var(--white)] bg-[var(--danger-color)] hover:bg-[var(--danger-color-hover)] focus:ring-4 focus:ring-[var(--danger-color-active)] font-medium rounded-lg text-xs px-2.5 py-1.5 dark:bg-[var(--danger-color-dark)] dark:hover:bg-[var(--danger-color)] focus:outline-none dark:focus:ring-[var(--danger-color-hover)] disabled:cursor-not-allowed disabled:opacity-50 cursor-pointer;
}

.sp-btn-warning-small {
  @apply text-[var(--white)] bg-[var(--warning-color)] hover:bg-[var(--warning-color-hover)] focus:ring-4 focus:ring-[var(--warning-color-active)] font-medium rounded-lg text-xs px-2.5 py-1.5 dark:bg-[var(--warning-color-dark)] dark:hover:bg-[var(--warning-color)] focus:outline-none dark:focus:ring-[var(--warning-color-hover)] disabled:cursor-not-allowed disabled:opacity-50 cursor-pointer;
}

.sp-btn-info-small {
  @apply text-[var(--white)] bg-[var(--info-color)] hover:bg-[var(--info-color-hover)] focus:ring-4 focus:ring-[var(--info-color-active)] font-medium rounded-lg text-xs px-2.5 py-1.5 dark:bg-[var(--info-color-dark)] dark:hover:bg-[var(--info-color)] focus:outline-none dark:focus:ring-[var(--info-color-hover)] disabled:cursor-not-allowed disabled:opacity-50 cursor-pointer;
}

.sp-btn-link-big {
  @apply text-[var(--primary-color)] hover:text-[var(--primary-color-hover)] focus:outline-none   font-medium rounded-lg text-lg px-5 py-3 disabled:cursor-not-allowed disabled:opacity-50 cursor-pointer dark:text-[var(--primary-color-dark)] dark:hover:text-[var(--primary-color-hover)];
}

.sp-btn-primary-big {
  @apply text-[var(--white)] bg-[var(--primary-color)] hover:bg-[var(--primary-color-hover)] focus:ring-4 focus:ring-[var(--primary-color-active)] font-medium rounded-lg text-lg px-5 py-3 dark:bg-[var(--primary-color-dark)] dark:hover:bg-[var(--primary-color)] focus:outline-none dark:focus:ring-[var(--primary-color-hover)] disabled:cursor-not-allowed disabled:opacity-50 cursor-pointer;
}

.sp-btn-secondary-big {
  @apply text-[var(--white)] bg-[var(--secondary-color)] hover:bg-[var(--secondary-color-hover)] focus:ring-4 focus:ring-[var(--secondary-color-active)] font-medium rounded-lg text-lg px-5 py-3 dark:bg-[var(--secondary-color-dark)] dark:hover:bg-[var(--secondary-color)] focus:outline-none dark:focus:ring-[var(--secondary-color-hover)] disabled:cursor-not-allowed disabled:opacity-50 cursor-pointer;
}

.sp-btn-success-big {
  @apply text-[var(--white)] bg-[var(--success-color)] hover:bg-[var(--success-color-hover)] focus:ring-4 focus:ring-[var(--success-color-active)] font-medium rounded-lg text-lg px-5 py-3 dark:bg-[var(--success-color-dark)] dark:hover:bg-[var(--success-color)] focus:outline-none dark:focus:ring-[var(--success-color-hover)] disabled:cursor-not-allowed disabled:opacity-50 cursor-pointer;
}

.sp-btn-danger-big {
  @apply text-[var(--white)] bg-[var(--danger-color)] hover:bg-[var(--danger-color-hover)] focus:ring-4 focus:ring-[var(--danger-color-active)] font-medium rounded-lg text-lg px-5 py-3 dark:bg-[var(--danger-color-dark)] dark:hover:bg-[var(--danger-color)] focus:outline-none dark:focus:ring-[var(--danger-color-hover)] disabled:cursor-not-allowed disabled:opacity-50 cursor-pointer;
}

.sp-btn-warning-big {
  @apply text-[var(--white)] bg-[var(--warning-color)] hover:bg-[var(--warning-color-hover)] focus:ring-4 focus:ring-[var(--warning-color-active)] font-medium rounded-lg text-lg px-5 py-3 dark:bg-[var(--warning-color-dark)] dark:hover:bg-[var(--warning-color)] focus:outline-none dark:focus:ring-[var(--warning-color-hover)] disabled:cursor-not-allowed disabled:opacity-50 cursor-pointer;
}

.sp-btn-info-big {
  @apply text-[var(--white)] bg-[var(--info-color)] hover:bg-[var(--info-color-hover)] focus:ring-4 focus:ring-[var(--info-color-active)] font-medium rounded-lg text-lg px-5 py-3 dark:bg-[var(--info-color-dark)] dark:hover:bg-[var(--info-color)] focus:outline-none dark:focus:ring-[var(--info-color-hover)] disabled:cursor-not-allowed disabled:opacity-50 cursor-pointer;
}

/* Badges */

.sp-badge-primary {
  @apply bg-[var(--primary-color)] text-[var(--white)] text-xs font-medium  px-2.5 py-0.5 rounded dark:bg-[var(--primary-color)] dark:text-[var(--white)];
}

.sp-badge-danger {
  @apply bg-[var(--danger-color)] text-[var(--white)] text-xs font-medium  px-2.5 py-0.5 rounded dark:bg-[var(--danger-color)] dark:text-[var(--white)];
}

.sp-badge-success {
  @apply bg-[var(--success-color)] text-[var(--white)] text-xs font-medium  px-2.5 py-0.5 rounded dark:bg-[var(--success-color)] dark:text-[var(--white)];
}

.sp-badge-warning {
  @apply bg-[var(--warning-color)] text-[var(--white)] text-xs font-medium  px-2.5 py-0.5 rounded dark:bg-[var(--warning-color)] dark:text-[var(--white)];
}

.sp-badge-primary-medium {
  @apply bg-[var(--primary-color)] text-[var(--white)] text-sm font-medium  px-2.5 py-0.5 rounded dark:bg-[var(--primary-color)] dark:text-[var(--white)];
}

.sp-badge-danger-medium {
  @apply bg-[var(--danger-color)] text-[var(--white)] text-sm font-medium  px-2.5 py-0.5 rounded dark:bg-[var(--danger-color)] dark:text-[var(--white)];
}

.sp-badge-success-medium {
  @apply bg-[var(--success-color)] text-[var(--white)] text-sm font-medium  px-2.5 py-0.5 rounded dark:bg-[var(--success-color)] dark:text-[var(--white)];
}

.sp-badge-warning-medium {
  @apply bg-[var(--warning-color)] text-[var(--white)] text-sm font-medium  px-2.5 py-0.5 rounded dark:bg-[var(--warning-color)] dark:text-[var(--white)];
}

.sp-badge-primary-big {
  @apply bg-[var(--primary-color)] text-[var(--white)] text-lg font-medium  px-2.5 py-0.5 rounded dark:bg-[var(--primary-color)] dark:text-[var(--white)];
}

.sp-badge-danger-big {
  @apply bg-[var(--danger-color)] text-[var(--white)] text-lg font-medium  px-2.5 py-0.5 rounded dark:bg-[var(--danger-color)] dark:text-[var(--white)];
}

.sp-badge-success-big {
  @apply bg-[var(--success-color)] text-[var(--white)] text-lg font-medium  px-2.5 py-0.5 rounded dark:bg-[var(--success-color)] dark:text-[var(--white)];
}

.sp-badge-warning-big {
  @apply bg-[var(--warning-color)] text-[var(--white)] text-lg font-medium  px-2.5 py-0.5 rounded dark:bg-[var(--warning-color)] dark:text-[var(--white)];
}
